 {% extends 'base.html' %}

{% block title %}contact{% endblock title %}

{% block body %}

<div class="container-fluid px-1 mb-3" >
    <img src="/static/contact.jpg"  width="500" height="300" class="d-block w-100" alt="...">
    
</div>
<div class="container-fluid px-5 mb-3" >
    <h3 class="text-center">Contact Us </h3>
    <form method="post" action="/contact">
    {% csrf_token %}

    <form>
        <div class="mb-3">
           <label for="Name" class="form-label">Name</label>
           <input type="text" class="form-control" id="Name" name="name"placeholder="Enter your Name">
        </div>
        <div class="mb-3">
           <label for="email" class="form-label">Email address</label>
           <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
        </div>
        <div class="mb-3">
           <label for="Phone" class="form-label">Mobile Number</label>
           <input type="Phone" class="form-control" id="phone" name="phone" placeholder="Enter your Number">
        </div>
        <div class="mb-3">
           <label for="desc" class="form-label">Tell me about what you want to contact me for...</label>
           <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>

    
</div>
{% endblock body %}
